section#skills{
  background-color: #31333B;
  padding-bottom: 100px;
}
section#skills h2{
  text-align: center;
}
.skills-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.skill-box{
  opacity:0;
  transition: all .4s linear;
  background-color: #3D3E42;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  left: -20px;
  span{
    display: block;
  }
}
.skills-container.visible .skill-box{
  opacity:1;
  left:0;
}
@for $i from 1 through 20 {
  .skill-box:nth-child(#{$i + 1}){transition-delay: #{$i  * .1s}};
}

.skill-box img{
  display: inline-block;
  margin-bottom:10px;
  max-width:60px;
}
